    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/createblog">create blog</a>
        <a href="/login">login</a>
        <a href="/register">register</a>
        <a href="/logout">logout</a>
        <div class="search-container">
            <form action="/search" method="GET">
                <input type="text" placeholder="Search.." name="query">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
